*{
    padding:0px;
    margin:0px;
}

body{
    background-color:#17171c;
    padding:10px
}

#settings{
    display:flex;
    margin-bottom: 20px;
    align-items:center;
}

#settings>h3{
    margin:0px;
}
 
#settings>input{
    background-color:#2f2f3f;
    margin-right: 20px;
    margin-left: 5px;
    border: none;
    outline: none;
    text-align:center;
    height:30px;
    border-radius: 3px;
}

#grid-container{
    display: flex;
    flex-direction: column;
}

#gen_bnt{
    background-color:#2f2f3f;
    color: white;
    padding:15px 20px;
    border:none;
    border-radius: 10px;
}

#gen_bnt:hover{
    background-color:#3f3f50;
    color: white;
}

.grid-row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.grid-row-lanegap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.buttons{
    width: 10%;
    height: 80px;
    color: white;
    background-color:#2b2b3e;
    border-radius: 7px;
}

.buttons-parked{
    width: 10%;
    height: 80px;
    color: white;
    background-color:#6f2929;
    border-radius: 7px;
}

.buttons-empty{
    width: 10%;
    height: 80px;
    color: white;
    background-color: #254a21;
    border-radius: 7px;
}

.buttons:not(.selected):hover{
    filter: opacity(0.5);
}

input[type="number"]{
    width: 5%;
    
}

.popup{
    position: absolute;
    flex-direction: column;
    row-gap: 10px;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    padding:30px;
    background-color:#1a1c25fa;
    border-radius: 15px;
}

.show-popup{
    display: flex;
}

.hide-popup{
    display: none;
}

.selected{
    background-color:rgb(163, 142, 33);
}

.text{
    color: white;
}

.popup-inps{
    outline:none;
    background-color:#2f2f3f;
    color:white;
    border:none;
    padding:5px;
    border-radius: 3px;
    align-self: stretch;
    margin-left: 10px;
}

.inps-text-align{
    display:flex; 
    justify-content: center; 
    align-items: center;
}

.popup-btns{
    outline:none;
    background-color:#2f2f3f;
    color:white;
    border:none;
    border-radius: 3px;
    padding:10px 20px;
}

.popup-btns:hover{
    background-color:#363648;
}